<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cars_for_sale">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/car_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/car_icon_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Cars_For_Sale">
        <activity
            android:name=".CarViewActivity"
            android:exported="false" />
        <activity
            android:name=".AddCarActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>